<a href="/adjust/-300" class="badge badge-primary"> -5 min </a>
<a href="/adjust/-60" class="badge badge-primary"> -1 min </a>
<a href="/adjust/-10" class="badge badge-primary"> -10 sec </a>
<a href="/adjust/10" class="badge badge-primary"> +10 sec </a>
<a href="/adjust/60" class="badge badge-primary"> +1 min </a>
<a href="/adjust/300" class="badge badge-primary"> +5 min </a>
