{% include 'header.html' %}


<div class="container-fluid">

    <div id="{{ chart }}">
        <h2>{{ chart }} {{ chart.areas_of_life }} </h2>
        <div class="row">
            <div class="col">

                {{ chart.chart }}
            </div>
            <div class="col" style="height: 500px; overflow-y: scroll;">
                Conjunctions<br>
                {% for house, record in chart.conjunctions.items() %}
                    Lords of
                    {% for houses in record.values() %}
                        {% for house in houses %}
                            {{ house.number }},
                        {% endfor %}
                    {% endfor %}
                    are in {{ house }} house.
                    <br>
                {% endfor %}

                <br><br>Interchanges<br>
                {% for interchange in chart.interchanges %}
                    lord of {{ interchange[0][0] }}: {{ interchange[0][1][0].name }} is in {{ interchange[1][0][0] }}
                    <br><br>
                {% endfor %}<br><br>

                <br><br>Results<br>
                {% for result in chart.results %}
                {{ result[0] }} ->  {{result[1]}}<br><br>
                {% endfor %}

                <br>Applicable Dashas<br>
                {{ chart.get_applicable_dashas() }}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Planet</td>
                    <td>Position</td>
                    <td>State</td>
                    <td>Nature Score</td>
                    <td>Age</td>
                    <td>Result</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Ascendant</td>
                    <td>{{ chart.ascendant }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>


                {% for planet in chart.planets.values() %}
                {% if chart.get_planet_nature(planet) > 0 %}<tr class="text-success">
                    {% elif chart.get_planet_nature(planet) < 0 %}<tr class="text-danger">
                    {% else %}<tr class="text-primary">
                    {% endif %}
                    <td>{{ planet.name.name }}</td>
                    <td>{{ planet.position }}</td>
                    <td>{{ chart.get_planet_state(planet).name }}</td>
                    <td>{{ chart.get_planet_nature(planet) }}</td>
                    <td>{{ planet.age.value }}</td>
                    <td>{{ planet.result }}</td>
                </tr>

                {% endfor %}
                </tbody>
            </table>


            <table class="table table-striped">
                <thead>
                <tr>
                    <td>House</td>
                    <td>Boundries</td>
                    <td>Sign</td>
                    <td>Lord</td>
                    <td>Residents</td>
                    <td>Aspecting</td>
                    <td>Result</td>
                </tr>
                </thead>

                <tbody>
                {% for house in chart.houses %}
                <tr>
                    <td><p class="h4">{{ house.number }} </p>{% for area in house.areas_of_life %} {{area}}<br> {% endfor %}</td>
                    <td>{{ house.start_position }} <br>
                        {{ house.cusp_position }}<br>
                        {{ house.end_position }}
                    </td>
                    <td>{{ house.sign.name[0:3] }}({{ house.sign.value }})
                    </td>

                    <td>
                    {% for lord in house.lord %}
                        {% if chart.get_planet_nature(lord) > 0 %}
                         <p class="text-success">
                            {% elif chart.get_planet_nature(lord) < 0 %}
                        <p class="text-danger">
                            {% else %}
                        <p class="text-primary">
                            {% endif %}
                            {{ lord.name }} {{ chart.get_planet_position(lord) }} ({{ chart.get_planet_state(lord).name }})
                        </p>
                    {% endfor %}
                    </td>

                    <td>
                        {% for record in house.resident_planets %}
                                {% if chart.get_planet_nature(record[0].name) > 0 %}
                                        <p class="text-success">
                                            {% elif chart.get_planet_nature(record[0].name) < 0 %}
                                    <p class="text-danger">
                                    {% else %}
                                    <p class="text-primary">
                                    {% endif %}
                                    {{ record[0].name.name }} {{ chart.get_planet_position(record[0]) }} {{ record[1] }}% ({{ chart.get_planet_state(record[0]).name }})
                                </p>
                        {% endfor %}

                    <td>
                        {% for record in house.aspecting_planets %}
                        {% if chart.get_planet_nature(record[0]) > 0 %}
                        <p class="text-success">
                            {% elif chart.get_planet_nature(record[0]) < 0 %}
                        <p class="text-danger">
                            {% else %}
                        <p class="text-primary">
                            {% endif %}
                            {{ record[0].name.name }} {{ record[1] }}% ({{ chart.get_planet_state(record[0]).name }})
                        </p>
                        {% endfor %}

                    </td>

                    <td>{{ house.results }}</td>

                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

        <a class="btn btn-primary" data-toggle="collapse" href="#vimshottari" role="button" aria-expanded="false" aria-controls="collapseExample">
        Vimshottari
        </a>

        <a class="btn btn-primary" data-toggle="collapse" href="#MAHADASHA" role="button" aria-expanded="false" aria-controls="collapseExample">
        MAHADASHA
        </a>

        <a class="btn btn-primary" data-toggle="collapse" href="#ANTARDASHA" role="button" aria-expanded="false" aria-controls="collapseExample">
        ANTARDASHA
        </a>

        <a class="btn btn-primary" data-toggle="collapse" href="#PRATYANTARDASHA" role="button" aria-expanded="false" aria-controls="collapseExample">
        PRATYANTARDASHA
        </a>

        {% for dasha_type, dasha_list in chart.dashas.items() %}
        <table class="table table-striped collapse">
            <thead>
                <tr>
                    <td>Type</td>
                    <td>Depth</td>
                    <td>Planet</td>
                    <td>Start</td>
                    <td>End</td>
                </tr>
            </thead>
            <tbody>
                {% for dasha in dasha_list %}
                    <tr class="collapse" id="{{dasha.dasha_depth.name}}">
                        <td>{{ dasha_type }}</td>
                        <td>{{ dasha.dasha_depth.name }}</td>
                        <td>{{ dasha }}</td>
                        <td>{{ dasha.start }}</td>
                        <td>{{ dasha.end }}</td>
                    </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% include 'footer.html' %}