<div align="center">
    {% include 'buttons.html' %}
    <br><br><br>
    <a href="{{url_for('summary', name=person.name, DOB=request.args.get('DOB'),
           TOB=request.args.get('TOB'), timezone=request.args.get('timezone'),
           place_of_birth=request.args.get('place_of_birth'), latitude=request.args.get('latitude'),
           longitude=request.args.get('longitude'))}}">Summary</a>

    {% for chart in ['1','2','3','4','5','6','7','8','9','10','11','12','16','20','24'] %}
        <a href={{url_for('divisional_chart', number=chart, name=person.name, DOB=request.args.get('DOB'),
           TOB=request.args.get('TOB'), timezone=request.args.get('timezone'),
           place_of_birth=request.args.get('place_of_birth'), latitude=request.args.get('latitude'),
           longitude=request.args.get('longitude'))}}>D{{chart}}</a>
    {% endfor %}

</div>
