<div align="center">
    <h1 align="center">{{ person._name }}</h1>
    <h3 align="center">{{ person.datetime_of_birth }}</h3>
    <h3 align="center">{{ person.datetime_of_birth.et }}</h3>
    <h3 align="center">{{ person._place_of_birth._name}}</h3><h3>{{ person._place_of_birth.latitude}}</h3><h3>{{ person._place_of_birth.longitude}}</h3>
    <h3>sunrise midday sunset </h3>
    {% for i in person.get_sunrise_sunset() %}
    <h3>{{i}}</h3>
    {% endfor %}
</div>