{% include 'header.html' %}

<table class="table table-striped">
    <thead>
        <tr align="center">
            <td align="center">Planet</td>
            {% for chart in person.charts %}
                <td align="center">{{chart}}</td>
            {% endfor %}
            <td>total</td>
        </tr>
    </thead>
    <tbody>
        {% for planet in planet_names %}
        <tr>
            <td rowspan="2" align="center" valign="center">{{planet.name}}</td>

            {% for chart in person.charts.values() %}
                <td align="center">{{chart.get_planet_nature(planet)}}</td>
            {% endfor %}
            <td> {{ person._total_nature.get(planet) }}</td>
            <td rowspan="2"> {{ person._net_score.get(planet) }}</td>

        </tr>
        <tr>
            {% for chart in person.charts.values() %}
                <td align="center">{{chart.get_planet_state(planet).name}}</td>
            {% endfor %}
            <td> {{ person._total_strength.get(planet) }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}